* {
    /* background-color: #EBEEF1; */
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;

}

body{/* 
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 0%,
        rgba(0, 212, 255, 1) 100%
      ) */
      background-color: #EBEEF1;
}

.mainImage {
    display: block;
    margin: 80px auto 0 auto;
    width: 96px;
    height: 96px;
    
}

.nameFanPage {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

div{
    width: 300px;
    margin: 0 auto;
}

button {
    border-radius: 40px;
    width: 294px;
    height: 40px;
    cursor: pointer;
    background: #ccced1;
    border: none;
    text-align: center;
    margin: 0 auto 20px auto;
    padding: 0;
    display: block;
}

a{
    text-decoration: none;
}

.logoDigiPage{
    width: 100px;
    display: block;
    margin: 100px auto 0 auto;
    
}


button:hover {
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

